/* filepath: /home/arielc/Documents/work/amyparness_portfolio_24/amy_portfolio_25_a/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    min-height: unset;
  }
  .headline {
    @apply text-4xl sm:text-5xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-7xl
    !leading-[3.25rem] sm:!leading-[3.25rem] md:!leading-[3.25rem] lg:!leading-[3.75rem] xl:!leading-[4.7rem] 2xl:!leading-[3.8rem] my-0;
  }
  .badgelist {
    @apply flex flex-wrap gap-1 lg:gap-2 mt-6 mb-3;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-white text-black;
  }
  /* h2:not(:last-child) {
    @apply mb-6;
  }
  h3:not(:last-child) {
    @apply mb-6;
  }
  h4:not(:last-child) {
    @apply mb-6;
  }
  ul:not(:last-child),
  ol:not(:last-child) {
    @apply mb-6;
  }
  p:not(:last-child) {
    @apply mb-6;
  } */
  h1 {
    @apply text-4xl !leading-[4rem] sm:text-5xl lg:!leading-[3.25rem] 2xl:text-6xl !font-display text-balance font-bold text-pretty mb-0;
  }
  h2 {
    @apply text-3xl text-balance lg:text-4xl 2xl:text-4xl uppercase font-extralight !leading-[2.5rem] mb-6;
  }
  h3 {
    @apply text-lg text-balance font-bold lg:text-xl;
  }
  h4 {
    @apply text-balance font-bold mb-6;
  }
  h5 {
    @apply uppercase text-balance font-light text-lg mb-6;
  }
  a {
    @apply italic underline decoration-2 hover:decoration-1 decoration-dotted  hover:decoration-solid visited:decoration-dashed hover:decoration-zinc-600  text-zinc-600 hover:text-zinc-900;
  }
  p, ul, ol {
    @apply !text-balance  mb-3 max-w-prose;
    /* @apply text-pretty leading-tight tracking-tight mb-4; */
  }
  ul {
    @apply list-disc pl-5;
  }
  ol {
    @apply list-decimal pl-5;
  }
  li {
    @apply text-zinc-900 mb-3;
  }
  /* li p:first-child {
    @apply mb-0;
  } */
  li:last-child {
    @apply mb-0;
  }
  header li {
    @apply mb-0;
  }
  strong {
    @apply font-semibold;
  }
  em {
    @apply italic;
  }
  .bevel {
    @apply border border-[#fff] border-b-zinc-200 border-r-zinc-200 ring-1 ring-black/10;
  }
  .mockup-browser .mockup-browser-toolbar .input {
    @apply !w-max;
  }
}

@layer extend {
  .glass-antiqua-regular {
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .giantText {
    @apply mb-6 text-4xl font-black uppercase sm:text-7xl lg:mb-12 lg:text-8xl leading-[6rem] sm:leading-[6rem] md:leading-[6rem] lg:leading-[6rem] xl:leading-[6rem] 2xl:leading-[6rem];
  }
}
